# Binary / arşiv artefaktları
*.bin
*.zip
*.v2
*.dll

# Bağımlılıklar
node_modules/

# IDE / editör durumu
.vs/
.idea/

# .NET derleme çıktıları
/Legacy/SifreOlusturucu/bin/
/Legacy/SifreOlusturucu/obj/
/Legacy/SifreOlusturucu/SifreOlusturucu.csproj.user

# Yayınlama profilleri (yerel)
/Legacy/SifreOlusturucu/Properties/PublishProfiles/FolderProfile1.pubxml
/Legacy/SifreOlusturucu/Properties/PublishProfiles/FolderProfile1.pubxml.user
